.large {
  color: #1E293B;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.medium {
  color: #1E293B;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.small {
  color: #1E293B;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.908px;
}