.marquee {
    animation: marquee 50s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translate(10%, 0);
    }

    25% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-10%, 0);
    }

    75% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(10%, 0);
    }
}

/* @keyframes marquee {
    0% {
        transform: translate(100%, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
} */