.flow-view .react-flow__node {
  border-radius: 9px;
  border: 3px solid transparent !important;
  /* padding: 1px; */
}

.flow-view .react-flow__handle.connectionindicator {
  opacity: 0;
  min-width: 9px;
  min-height: 9px;
  background-color: transparent !important;
}

.flow-view .react-flow__resize-control {
  opacity: 0;
  min-width: 8px;
  min-height: 8px;
}

.flow-view .react-flow__resize-control.handle {
  background-color: #1abc9c;
  display: none;
}

.flow-view .react-flow__handle-top {
  top: -9px;
  z-index: 9999;
}

.flow-view .react-flow__handle-right {
  right: -9px;
  z-index: 9999;
}

.flow-view .react-flow__handle-bottom {
  bottom: -9px;
  z-index: 9999;
}

.flow-view .react-flow__handle-left {
  left: -9px;
  z-index: 9999;
}

.flow-view .react-flow__node.selected {
  border: 3px solid transparent !important;
  border-radius: 0 !important;
}

.flow-view .react-flow__edge-path {
  stroke-width: 2;
}

.flow-view .react-flow__edge.selected > .react-flow__edge-path {
  stroke: #6f59c5 !important;
  stroke-width: 3;
}

/* .react-flow__node.selected>div:first-child {
    background-color: transparent !important;
} */

.flow-view .react-flow__node:hover .react-flow__handle.connectionindicator,
.flow-view .react-flow__node.selected .react-flow__handle.connectionindicator,
.flow-view .react-flow__node:hover .react-flow__resize-control,
.flow-view .react-flow__node.selected .react-flow__resize-control {
  opacity: 0 !important;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

/* .react-flow__resize-control.line {
    border-color: #6F59C5 !important;
} */

.flow-view .react-flow__node.selected .react-flow__resize-control.line {
  border-color: transparent !important;
}

/* .react-flow__resize-control.line.top,
.react-flow__resize-control.line.bottom,
.react-flow__resize-control.line.left,
.react-flow__resize-control.line.right {} */

.flow-view .horizontal-line-node .react-flow__resize-control.line.top,
.flow-view .horizontal-line-node .react-flow__resize-control.line.bottom,
.flow-view .vertical-line-node .react-flow__resize-control.line.left,
.flow-view .vertical-line-node .react-flow__resize-control.line.right {
  display: none;
}

.helper-line-top {
  position: absolute;
  top: -2px;
  width: calc(infinity * 1px);
  height: 0px;
  border-top: 2px solid #0e4bd3;
  transform: translate(-50%, 100%);
}

.helper-line-right {
  position: absolute;
  right: 1px;
  width: 0px;
  height: calc(infinity * 1px);
  border-right: 2px solid #0e4bd3;
  transform: translate(100%, -50%);
}

.helper-line-bottom {
  position: absolute;
  bottom: 0;
  width: calc(infinity * 1px);
  height: 0px;
  border-top: 2px solid #0e4bd3;
  transform: translate(-50%, 100%);
}

.helper-line-left {
  position: absolute;
  left: -1px;
  width: 0px;
  height: calc(infinity * 1px);
  border-right: 2px solid #0e4bd3;
  transform: translate(100%, -50%);
}

.react-flow__node {
  border: none !important;
}
.react-flow__node.selected {
  border: none !important;
  outline: 3px solid #6f59c5  !important;
}
